<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>WeatherAPI</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="/">Start here</a>
            <a href="/">Your weather forecast</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>